{% extends 'base.html' %}
{% load static %}


{% block content %}


            <div class="about-banner">

                <img src="{% static 'images/banner.jpg'%}" alt="banner">
            </div>

            {% for m in musicians %}
            <div class="musicans-item">
                <div class="photo">

                    <img class="img-mus" src="{{ m.photo.url }}">
                </div>
                <div class="name-text" >
                    <div class="name">
                        <a> {{m.name}} </a>
                    </div>
                    <div class="text">
                        <a> {{m.text}} </a>
                    </div>
                </div>
            </div>
            {% endfor %}



{% endblock %}